.wrapper {
  grid-row: 1 / 3;
  padding: 120px 16px;

  .container {
    padding: 64px 8px;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--sage);
    border-radius: var(--radius-m);

    .logo:hover {
      transition: 0.3s transform var(--transition);
      transform: rotate(360deg);
    }

    .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    .social {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }
}
