.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--dark-green);
  transition: 0.2s all var(--transition);
}

.navLink:hover {
  scale: 1.2;
  transform: rotateX(30deg);
}
