:root {
  --sage: #edf1d6;
  --light-green: #9dc08b;
  --green: #609966;
  --dark-green: #40513b;

  --font-xs: 10px;
  --font-s: 14px;
  --font-m: 18px;
  --font-l: 24px;
  --font-xl: 32px;
  --font-xxl: 48px;

  --radius-m: 16px;

  --transition: ease-in;

  /* toast */
  --toastify-color-progress-light: linear-gradient(
    to right,
    var(--sage),
    var(--dark-green),
    var(--sage),
    var(--dark-green)
  );
  --toastify-toast-background: var(--sage);
  --toastify-color-light: var(--sage);
  --toastify-text-color-light: var(--dark-green);
}

@font-face {
  font-family: "Raleway Bebra";
  src: url(./fonts/Raleway-Regular.ttf) format("ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
a {
  all: unset;
}

a {
  cursor: pointer;
}

body {
  width: 100%;
  height: 100vh;

  background-color: var(--light-green);

  font-family: "Raleway Bebra", sans-serif;
  font-size: var(--font-m);
  color: var(--dark-green);

  overflow: hidden;
}

.global_layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 86px 1fr;
  grid-template-columns: 124px 1fr;
}

.pages_wrapper {
  width: 100%;
  height: 100%;

  padding: 32px 24px;
}

::selection {
  background: var(--dark-green);
  color: var(--sage);
}
