.wrapper {
  padding: 36px;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.image {
  margin-top: 24px;

  border: 2px solid var(--sage);
  border-radius: var(--radius-m);
}
