.layout_wrapper {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: 86px 1fr;
  grid-template-columns: 124px 1fr;
}

.pages_wrapper {
	padding: 32px 24px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styles {
  margin-top: 48px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
