.container {
  height: 100%;

  display: grid;
  grid-template: 1fr 1fr / 1fr 4fr;
  align-items: center;
}

.icon {
}

.title {
  font-size: var(--font-m);
}

.subtitle {
  padding: 12px 24px 12px 0px;

  grid-column: 1/3;
  align-self: center;
}
