.wrapper {
  padding: 24px;

  width: 364px;
  height: 212px;

  background-color: var(--sage);

  border: 2px solid var(--dark-green);
  border-radius: var(--radius-m);

  transition: 0.3s all var(--transition);
}

.wrapper:hover {
  background-color: var(--green);
  color: var(--sage);
}
